$border: 1px solid teal;
$audiowide: "Audiowide", cursive;
$gugi: "Gugi", cursive;
$noto: "Noto Sans", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: $audiowide;
  color: #ffffff;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// #root {
//   // display: flex;
//   min-height: 100%;
//   min-width: 100vw;
//   backdrop-filter: blur(2px);

//   ::-webkit-scrollbar {
//     display: none;
//   }
// }

// html {
//   background: url(./imgs/Background.png);
//   background-size: cover;
//   background-position: center;
// }

body {
  background: url(./imgs/Background.png);
  background-size: 115%;
  background-position: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

//* --------------------------------- Navbar --------------------------------- */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9vh;
  padding: 0.9375% 3.75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  .logo {
    display: flex;
    height: 100%;
    gap: 1vw;
    // border: $border;

    > * {
      display: flex;
      align-items: center;
      font-size: clamp(1.67vw, 24px, 1.67vw);
    }

    .icon {
      height: 100%;
      // border: $border;
    }
  }

  .how-to-play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    background: transparent;
    font-size: clamp(1.4vw, 20px, 1.4vw);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

//* --------------------------------- Display -------------------------------- */

.display {
  display: flex;
  height: 92vh;
  // border: $border;

  .left-display {
    display: flex;
    flex-direction: column;
    width: 75vw;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}

//* ------------------------------ Word Display ------------------------------ */
.WordDisplay {
  display: flex;
  flex-direction: column;
  height: 54%;
  padding: 10.5% 8.5% 0 8.5%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  gap: 2rem;
  text-transform: uppercase;
  // border: $border;

  p {
    line-height: 125%;
    font-size: clamp(2.23vw, 32px, 2vw);
  }

  .word {
    display: flex;
    justify-content: center;
    height: 34%;
    gap: 0.5em;
    // border: $border;

    .letter-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8%;
      border: 2.06889px solid rgba(255, 255, 255, 0.5);

      .letter {
        font-size: clamp(2.23vw, 32px, 2vw);
      }
    }
  }
}

//* -------------------------------- Keyboard -------------------------------- */

.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46%;
  padding: 2.5% 5%;
  gap: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  // border: $border;

  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    // height: 22.5%;
    height: 30%;
    gap: 1rem;
    text-transform: uppercase;
    // border: $border;
  }

  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5.97%;
    font-size: clamp(1.4vw, 20px, 1.4vw);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: transparent;

    &:hover:not(:disabled) {
      color: #0e0326;
      background: #ffffff;
      border: 1.5px solid rgba(255, 255, 255, 0.25);
    }
  }

  .correct {
    color: #0e0326;
    background: linear-gradient(
        0deg,
        rgba(14, 3, 38, 0.25),
        rgba(14, 3, 38, 0.25)
      ),
      #ffffff;
    border: 3px solid rgba(14, 3, 38, 0.25);
  }

  .incorrect {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid rgba(255, 255, 255, 0.25);
  }
}
